[submodule "music-service"]
	path = music-service
	url = https://github.com/Spotirightfree/music-service.git
[submodule "login-service"]
	path = login-service
	url = https://github.com/Spotirightfree/login-service.git
[submodule "playlist-service"]
	path = playlist-service
	url = https://github.com/Spotirightfree/playlist-service.git
[submodule "spotirightfree-ocelot-gateway"]
	path = spotirightfree-ocelot-gateway
	url = https://github.com/Spotirightfree/ocelot-gateway.git
